{% extends 'nav.html' %}
{% block contents %}{% load static %}


<section class="jumbotron text-center">
    <div class="container">
        <h1>팀 관리</h1>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">
        <h5>내가 생성한 팀</h5>
        <div class="row">
            {% for project in projects %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{% static 'indeximage.jpg'%}" height="200" alt="woman_1사진" />
                    <div class="card-body">
                        <a href="{% url 'team' project.pid %}">
                            <p class="card-text p-title">
                                {{project.title}}
                            </p>
                        </a>
                        <p class="card-text">
                            {{project.sub_title}}
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">{{project.pub_date}}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <h5>내가 가입한 팀</h5>
        <div class="row">
            {% for item in joined_list %}
            {% if item.userid == request.user %}
            {% else %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{% static 'indeximage.jpg'%}" height="200" alt="woman_1사진" />
                    <div class="card-body">
                        <a href="{% url 'team' item.pid %}">
                            <p class="card-text p-title">
                                {{item.title}}
                            </p>
                        </a>
                        <p class="card-text">
                            {{item.sub_title}}
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">{{item.pub_date}}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}


            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}